node_modules/
.*
!.gitignore

# ESLint
!.eslintrc
!.eslintignore

# Babel
!.babelrc

# TypeScript transpiled code folder
dist/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class